h4 {
  color: darkblue;
  font-size: 20px;
}

p {
  color: teal;
  font-family: helvetica;
}

table,
th,
td,
tr {
  border: 2px solid white;
}

td {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 32px;
  text-decoration: none;
}
li a:hover {
  background-color: #111111;
}
